body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  height: 50vh;
  width: 100%;
  text-align: center;
}

h3 {
  margin: 0;
}

#header {
  flex-basis: 100%;
  background-color: red;
  height: 5vh;
}

#lewy {
  flex-basis: 20%;
  background-color: green;
  height: 40vh;
}

#srodek {
  flex-basis: 60%;
  background-color: aqua;
  font-size: 20px;
}

#prawy {
  flex-basis: 20%;
  background-color: pink;
}

#stopka {
  flex-basis: 100%;
  background-color: violet;
  height: 5vh;
}

@media (min-width:769px) and (max-width:992px) {
  body {
    height: 100vh;
  }

  #header {
    height: 5vh;
  }

  #lewy {
    order: 1;
    flex-basis: 100%;
    height: 45vh;
  }

  #srodek {
    flex-basis: 80%;
    height: 45vh;
  }

  #prawy {
    flex-basis: 20%;
    height: 45vh;
  }

  #stopka {
    order: 2;
    height: 5vh;
  }
}

@media (max-width:768px) {
  body {
    height: 100vh;
  }

  #header {
    height: 5vh;
  }

  #lewy {
    flex-basis: 100%;
    order: 1;
    height: 30vh;
  }

  #srodek {
    flex-basis: 100%;
    height: 30vh;
  }

  #prawy {
    flex-basis: 100%;
    order: 2;
    height: 30vh;
  }

  #stopka {
    height: 5vh;
    order: 3;
  }
}