body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

#zdjecie1 {
    background-image: url("../obrazy/man-1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

#zdjecie1 h1 {
    margin: 0;
    color: #fff;
    padding-top: 50vh;
    padding-left: 30px;
}

@media (min-width:993px) and (max-width:1170px) {

    #zdjecie1 {
        background-image: url("../obrazy/man-2.jpg");
        background-size: 100% 100%;
        width: 100%;
        height: 70%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    #zdjecie1 h1 {
        padding-top: 100px;
        padding-left: 60%;
    }
}

@media (max-width:992px) {
    
    #zdjecie1 {
        width: 100%;
        height: 50%;
        background-position: center top;
        background-size: 100% 100%;
    }
        #zdjecie1 h1 {
        color: black;
        text-align: center;
        
    }
}